body {
   background-image: url(/Images/back.jpg);
}

h1 {
  color: bisque;
  font-style: italic;
  font-size: 300%;
}
p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: antiquewhite;
  background-color: grey
}
ul {
  color: aquamarine;
  font-family: fantasy;
}
ol {
  color: skyblue;
  font-family: fantasy;
}
.columns {
  margin-left: 50px;  
}
.test-box {
  columns: 2;
}